header {
    background-color: #212529;
    color: #f3f3f3;
}

ul {
    list-style: none;
} 

li {
    font-size: small;

}
.card-container {
    border: 1px solid black;
    padding: 20px;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  }

 .hidden {
    display: none;
 }